<html>

    <head>
        <link rel="stylesheet" href="main.min.css">
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>

    <body ng-app>

        <br>

        <header class="header" role="banner">
            <div class="wrapper">
                <h1 class="fancy-slug">
                    <span class="fancy-slug_text">
                        <span class="fancy-slug_ribbon-left"></span>
                        Repo Groups
                        <span class="fancy-slug_ribbon-right"></span>
                    </span>
                </h1>
            </div>
        </header>

        <main class="content content__1-3" id="main" role="main" ng-controller="RepoListCtrl">
            <div class="wrapper content_wrapper">

                <div class="content_sidebar">
                    <div class="form-group">
                        <label class="form-label-header" for="">Search:</label>
                        <div class="form-group_item">
                            <input type="text" ng-model="search"></input>
                        </div>
                    </div>
                </div>

                <section class="content_main" style="min-height:80%;">

                    <div class="summary"
                         ng-hide="search == ''" ng-show="search != ''">
                        <h2 class="summary_header">Search results for: <em>{{ search }}</em></h2>
                        <div class="summary_text"
                             ng-repeat="set in setList">
                            <ul class="list__unstyled">
                                <li class="list_item"
                                    ng-repeat="repo in set.repos | filter:{name: search}">
                                    <a class="list_link"
                                       href="{{ repo.url }}">
                                        {{ repo.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="demo-cols">
                        <div class="demo-col-6 demo-spaced"
                             ng-hide="search != ''" ng-show="search == ''"
                             ng-repeat="set in setList">

                            <div class="summary">
                                <h2 class="summary_header">
                                    {{ set.name }}
                                </h2>
                                <ul class="list__unstyled">
                                    <li class="list_item"
                                        ng-repeat="repo in set.repos">
                                        <a class="list_link"
                                           href="{{ repo.url }}">
                                            {{ repo.name }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </section>

            </div>
        </main>

    </body>

</html>
